.img{

    margin-top: 90px;
    margin-left: 80px;
   
} 
.details{
   margin-left: 80px;
   color: #FFFFFF;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}; 
