

.input-container{
    height: 170px;
    background-color: #00ADEF;
    text-align: center;
    
    
    
}
div h1 {
    position: relative;
    top: 10px;
    margin-right: 40px;

}
.input-display{
    font-size: 15px;
    margin: 40px;
    padding: 10px 35px;
    border: none;
    border-radius: 30px;
    position: relative;
    bottom: 4px;
    color: #58C7F3;
    background-color: black;
    margin-right: 70px;
   
    
    
}
 
.btn{
    position: fixed;
    margin-right: 50px;
    padding: 8px 20px;
    border-radius: 10px;
    position: relative;
    bottom: 25px;
    border: none;
    background-color: #58C7F3;
    
    
}
.btn:hover{
    background-color: rgb(104, 144, 177);
}
